.bgHeader {
  background-color: var(--bg-header);
  z-index: 0;
  top: 0;
}

.borderColor {
  border-color: var(--border-color);
}

.bgCard {
  background-color: var(--card-bg) !important;
}

.searchBg {
  background-color: var(--comment-bg) !important;
}

.avatarFont {
  font-family: Roboto !important;
  font-weight: bold !important;
}
